.github-corner-left {
  display: block;
  height: 200px;
  transform: rotateY(180deg);
  position: relative;

  @media (max-width: 900px) {
    height: 150px;

    & > svg {
      width: 150px;
      height: 150px;
    }
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 1120ms ease-in-out infinite;
}
@keyframes octocat-wave {
  0%,
  50% {
    transform: rotate(0);
  }
  10%,
  30% {
    transform: rotate(-25deg);
  }
  20%,
  40% {
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(0);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
