.container {
  display: grid;
  grid-template-columns: [full-width-start] 20px [content-start] 1fr [content-end] 20px [full-width-end];

  @media (min-width: 900px) {
    grid-template-columns: [full-width-start] 48px [content-start] 1fr [content-end] 48px [full-width-end];
  }
}

.sectionContainer {
  &_content {
    grid-column: content;
  }

  &_fullWidth {
    grid-column: full-width;
  }
}
